@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	background-color: gold;
}
h1 {
	text-align: center;
	position: absolute;
	width: 90%;
	margin: 10px;
	z-index: 3;
}
#map {
	text-align: center;
	background-color: teal;
	min-height: 60vh;
	margin-bottom: 10px;
}
#phonenumber {
	margin: auto;
	display: block;
	margin-bottom: 10px;
	max-width: 300px;
	width: 90%;
	text-align: center;
	font-size: 40px;
}
#phonenumber::-webkit-input-placeholder{
	text-align: center;
}
#countdown {
	text-align: center;
	margin: auto;
	display: block;
	margin-bottom: 10px;
	font-size: 40px;
}
#starter {
	margin: auto;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	max-width: 300px;
	width: 90%;
	font-size: 30px;
}
#coordinates {
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	display: block;
	font-size: 20px;
	color: gray;
}